

body{
    background-image: url(foreman_background_main.jpg);
    background-color: #78a2b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%
}

.presentational{
    background-image: url(foreman_background_fullcircle.jpg);
}

a {
    color: darkgreen;
}