

body{
    background-image: url(foreman_background_clear.jpg);
    background-color: #78a2b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%
}

.presentational{
    background-image: url(foreman_background_fullcircle.jpg);
    background-color: #78a2b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%
}

a {
    color: darkgreen;
}

.header {
    position : fixed;
    width: 100%;
    height: 125px;
    top: 0;
    background-image: url(foreman_background_header.jpg);
    background-color: #78a2b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    filter: alpha(Opacity=85);
    opacity: 0.85;
}

.mainer {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.footer {
    position : fixed;
    width: 100%;
    height : 125px;
    bottom : 0;
    background-image: url(foreman_background_footer.jpg);
    background-color: #78a2b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    filter: alpha(Opacity=85);
    opacity: 0.85;
}

.doubledash {
    display:inline-block;
    width: 50%;
    height: 550px;
    margin-top: 0px;
    margin-bottom: 200px;
    float: left;
    overflow-y: scroll;
}


.linearbutton {
    display:inline-block;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

#copyrightline {
    position: absolute;
    margin-left: 75px;
    margin-bottom: 10px;
    float: left;
    bottom: 0%;
}



.mainearbutton {
    display:inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.mainearblock {


    text-align: center;
}

.maineartableinfo {
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
}

.smallfield {
    width: 100px;
}

.averagefield {
    width: 200px;
}

.widefield {
    width: 400px;
}

.textareafield {
    width: 400px;
    height: 75px;
    text-align: start;

}



.headerleftinfo {
    display:inline-block;
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    bottom: -10px;
}

.headerleftbtns {
    display:inline-block;
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;

}

.headerightbtns {
    display:inline-block;
    margin-left: 15px;
    margin-right: 50px;
    float: right;
}



.footerleftbtns {
    display:inline-block;
    margin-left: 50px;
    margin-right: 15px;
    float: left;
}

.footerightbtns {
    display:inline-block;
    margin-left: 15px;
    margin-right: 50px;
    float: right;
}



.buttonblick {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .6em 1em;
    outline: none;
    /*background-color: #008B8B; - alternative*/
    background-color: #008080;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    border-radius: 8px;
}

.buttonblick:active {
    top: 1px;
    box-shadow: none;
}


.buttonblicklighted {
    position: relative;
    color: black;
    font-weight: bold;
    text-decoration: none;
    /*text-shadow: -1px -1px #000;*/
    user-select: none;
    padding: .6em 1em;
    outline: none;
    /*better #00FA9A with black*/
    /*better #20B2AA*/
    background-color: #00FA9A;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    border-radius: 8px;
}

.buttonblicklighted:active {
    top: 1px;
    box-shadow: none;
}


.buttonblickdimmed {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .6em 1em;
    outline: none;
    /*was #696969*/
    background-color: #A9A9A9;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    border-radius: 8px;
}